body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f3f0f1; */
}

* {
  font-family: 'Montserrat' !important ;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

h1 {
  color: rgba(0, 0, 0, .77);
}

h2 {
  color: rgba(0, 0, 0, .67);
}

.withoutBorder {
  border-bottom: none !important;
}

/* .MuiTableHead-root {
  border-bottom: ;
} */

.MuiButton-label {
  font-size: 15px;
}